{

    "server": {
        "host": "irc.euirc.org",
        "port": 6697,
        "ssl": true,
        "encoding": "utf-8",
        "user": "yuibot",
        "password": "hurr",
        "nick": "yuibot",
        "realname": "abbot",
        "timeout": 300
    },
    "sqlitePath": "yui.db",
    "admins": {
        "yourNickHere": "andYourPassword"
    },
    "pluginDir": "plugins",
    "commandPrefixes": ["!", "."],
    "pluginAutoLoad": [
        "autojoin",
        "admin",
        "help",
        "eliza",
        "mark",
        "quotes",
        "ratelimit",
        "remind",
        "slogan",
        "urbandict",
        "url",
        "wiki"
    ],
    "autojoin": [
        "#numberwang"
    ],
    "userModes": "+B",
    "ratelimit": {
        "timeframe": 60,
        "messages": 5,
        "ignoreMinutes": 5
    },
    "markovLogFile": "mark.txt"
}
