{
    "server": "irc.example.com",
    "port": 6667,
    "ssl": false,
    "user": "yetanotherbot",
    "password": "",
    "nick": "YAB",
    "admin": [
        "yournamegoeshere"
    ],
    "moderator": [],
    "commandPrefixes": ["!"],
    "pluginDir": "plugins",
    "pluginAutoLoad": [
        "urbandict",
        "acr",
        "url",
        "admin",
        "greetings",
        "log",
        "plugs",
        "quotes",
        "autojoin"
    ],
    "channels": [
        "#installgentoo"
    ]
}
